[2021-04-09 12:27] IObert opened #3 "Limit of alpha numeric project names for OPA5"
**I'm moving this issue from the old repo on behalf of @StefanButscher**

[2021-04-09 12:31] IObert opened #4 "Include mockserver in apps generated for Netweaver"
I'm moving this issue from the old repo on behalf of @unkoder-dev

Original issue:SAP/generator-easy-ui5#65

[2021-04-13 13:38] dh4rry opened #5 "Being composable from other generators"
I would like to reuse the sub generators e.g. (newwebapp) in my custom generator (wich is a seperate node project not a fork of this one).

For that I use " this.composeWith" method like this (config contains everything that is also be present at that main generator app/index.js:
[code]

The problem is that the configs are separeted for each generator (so my custom generator cannot add configs to

[2021-04-19 08:53] IObert commented on #5
I'll close this as the PR is merged.

PS: Do you want to reuse the logic in a private custom generator? It's fine if that's your plan.
But in case it's public, I'd be interested to learn about this project as well.

[2021-04-19 09:01] dh4rry commented on #5
The custom generator (at this point of time) only contains internal things (like preset of the namespace, custom favicon ...) and is private. If there will be something relevant for the community, I'm going to share this (via PR or separate  (sub) generator project)

[2021-04-19 11:27] IObert commented on #5
Awesome!

[2021-04-23 10:11] IObert commented on #5
I reopen this because I had to revert the commit. There as an issue with the automation test (they essentially didn't run) which is fixed now (c82d213).

My message from the PR:

[2021-05-05 07:47] LeopoldHock opened #9 "Error when attempting to copy _.editorconfig"
During project generation I am getting an error:
`AssertionError [ERR_ASSERTION]: Trying to copy from a source that does not exist: D:\Users\<user>\AppData(Roaming)\npm\node_modules\generator-easy-ui5\plugin-generators\generator-ui5-project\generators\app\templates\_.editorconfig`

I have confirmed that file is definitely there at this very location. Any idea what might cause this issue? I'm on my

[2021-05-12 15:50] michelluther opened #10 "npm global install fails on linux"
Dear team,

I am failing to npm install the generator in version 3.0.1 fails with authorization error on linux during the postinstallation.

This is what I do:
`sudo npm install generator-easy-ui5 -g`

Maybe the sudo run as is not being propagated?

I have attached the result.
[installation_output.txt](https://github.com/ui5-community/generator-ui5-project/files/6467388/installation_output.txt)

I

[2021-05-12 17:45] vobu commented on #10
jep, the log hints to some dir confusion caused by `sudo`.
just do a `npm i -g yo generator-easy-ui5`
(note the `yo` also being installed globally as a peer dep)
hth, v.

[2021-05-12 17:45] #10 closed

[2021-05-12 17:46] vobu commented on #10
(i closed this by accident, sorry. please reopen if necessary)

[2021-05-14 15:58] michelluther commented on #10
Hi Volker,

thanks for looking into this.

It is the default behaviour for npm to install global packages into the folder `/usr/lib/node_modules`. Without sudo this will not work.

There are workarounds (like [this](https://github.com/sindresorhus/guides/blob/main/npm-global-without-sudo.md) one) for this, but by default, linux users will experience this, i believe. And so do i :-).

Cheers
Michel

[2021-05-14 16:19] michelluther commented on #10
I can confirm that the issue is resolved by changing the default folder for global packages for npm.

So it works for me now.

Cheers
Michel

[2021-06-10 11:11] #5 closed

[2021-06-10 12:56] IObert commented on #9
Hi,

sorry for the late response - I somehow didn't get a notification from GitHub or I must have missed it.
I just checked in it works for me, can you still reproduce this error?
If so, please share the following information

## OS/version:

## Steps to reproduce the problem:

1. Step 1
2. Step 2
3. Step 3

## What is the expected result?

## What happens instead?

## Any other information? (atta

[2021-06-21 11:09] #9 closed

[2021-07-01 06:33] ubheamar opened #11 "Feature: FLP Plugin Project Type"
Hello Marius,

I was thinking to create a generator for the FLP plugin project. Can you suggest where should I add this generator  **generator-ui5-project** or **generator-ui5-library** or entirely create a new project in **UI5 Community**

I saw the main generator [generator-easy-ui5](https://github.com/SAP/generator-easy-ui5)  fetching repository from
UI5 Community & showing list if we don't pas

[2021-07-01 11:46] IObert commented on #11
Hi Amar,

thanks for opening this issue. You are right, easy-ui5 pulls the templates from this GitHub org.

My first reaction would be that it's probably easiest to fork this project, remove files that you don't need and add the plugin-specific details.

CC: @petermuessig WDYT?

[2021-07-02 08:48] petermuessig commented on #11
Hi @ubheamar ,

nice to see you here! 👍

Regarding the FLP plugin: if it should be a standalone project which just creates the FLP plugin project, it makes sense IMO to have a separate generator. But if you intend to make this a flavour of a UI5 project - to add a FLP plugin there then it maybe belongs better to the ui5-project.

@IObert : we should also discuss how to externalize the platform spe

[2021-07-02 09:31] IObert commented on #11
Yes, I was thinking along the same lines. But I'm not sure if we can do this. Then entire project is more or less just the platform specific enablement + the subgenerators for models etc. And some subgenerators (e.g. for views)  are even used for the main generator. So I'm not sure if it make much sense to split this project even further.

[2021-07-02 10:17] ubheamar commented on #11
Thanks for the reply 👍  @IObert  & @petermuessig.

I think we already have sufficient generators for **generator-ui5-project**. it's better to not split more. Also for the FLPPlugin generator, There will be entirely different manifest.json structure & project structures, I thinking to fork this project build a standalone generator similar to  **generator-ui5-project**

Give me your comments so tha

[2021-07-04 07:31] petermuessig commented on #11
One you are ready, let us know so that we can create a project for you

[2021-07-05 13:00] ubheamar commented on #11
Hello @IObert & @petermuessig,
I am ready with the project. can you create a project for me so that I can upload my code?
Regards,
Amar Ubhe

[2021-07-05 14:30] IObert commented on #11
How do you want to name this project? And would you prefer an fresh project or should I create a fork of ui5-project (so that you could merge upstream changes every now and then)?

[2021-07-05 14:33] ubheamar commented on #11
I think fresh project will be good. I have given the app name generator-ui5-flp-plugin.

[2021-07-05 15:04] IObert commented on #11
Alright, I created a (for now) private repo for you to test. And I also assigned your the "write" access.

@petermuessig Is this ok or do you usually give "maintain" access out?

[2021-07-05 15:04] IObert commented on #11
https://github.com/ui5-community/generator-ui5-flp-plugin

[2021-07-06 06:58] petermuessig commented on #11
Hi @IObert , yes - we give "maintain" access unless there are some issues in future. I am a big fan of trust... 😄

[2021-07-06 06:58] petermuessig commented on #11
You could finally close this issue, right? The new project has been created...

[2021-07-06 07:26] ubheamar commented on #11
Hi @IObert , I have uploaded the code & tested it from my side as well. it's working fine with the easy-ui5 generator.
If any of you test & provide feedback that will be great.
I will close this issue.
Also, if I have to communicate with you guys in the future, should I create an issue for that new repository or set up a discussion tab?

[2021-07-06 08:21] IObert commented on #11
I tested it and I'll provide feedback via issues in the new repo, ok?

Yes, I guess opening issues for other repos is a good approach.

[2021-07-06 08:21] #11 closed

[2021-07-25 04:34] tapsiturbi opened #12 "Generators for views/models/controls does not work for ts-app"
## Easy-Ui5 version:
3.0.1

## OS/version:
Windows 10

## Browser/version (+device/version):
Chrome
## Steps to reproduce the problem:

1. yo easy-ui5 ts-app
2. cd com.myorg.myapp/
3. yo easy-ui5 project newview

## What is the expected result?
Module automatically found and yo should continue to ask questions about view to generate

## What happens instead?
Screen stuck with message and user cann

[2021-07-26 08:27] IObert commented on #12
It seems like you want to combine subgenerators of different plugins (generator-ui5-project and generator-ui5-ts-app).
This is not possible, which is why this fails in your case. The subgenerators (of generator-ui5-project) for new views/models/controls are only supposed to work in projects that were generated which generator-ui5-project.

I'm mentioning @petermuessig here so that he's aware of th

[2021-07-26 08:27] #12 closed

[2021-07-26 12:59] tapsiturbi commented on #12
Thanks @IObert . My bad, I didn't know the ts-app was a separate plugin. I'll look at that and tweak it for our needs instead. Thanks!

[2021-07-28 13:29] simenlf opened #13 "Command-line arguments for all options"
Love the application. Well done!
Is it possible for you to add command-line arguments for all options in the generator, so that I can run it without user interaction at all? This works for some, but all the options i think?

Thank you

[2021-07-30 09:39] IObert commented on #13
Hi,

this is a cool idea. Currently it's not possible but I'll leave that idea open in case someone wants to implement this.

[2021-08-19 06:54] piejanssens opened #15 "npm -g outdated: ERR! No versions available for generator-template-ui5-project"
[code]

Is it caused by it not being open source and that it's actually VS Code Fiori Tools that installs that generator?

[2021-08-19 06:58] piejanssens commented on #15
Same updating through Yeoman:
[code]

[2021-08-19 08:02] IObert commented on #15
It seems that you've used [npm link]() to link a local directory. That might cause this problem as `generator-template-ui5-project` shouldn't be installed to npm.

Can you unlink the folder and try this again?

[2021-08-19 10:22] piejanssens commented on #15
I ended up removing the global packages and will reinstall them.
Unlinking didn't work or I did it in the wrong place (which is much more likely).

[code]

[2021-08-19 10:22] #15 closed

[2021-10-27 14:14] IObert opened #17 ""New view" generator doesn't work in existing UI5 projects"
## Easy-Ui5 version:

## Steps to reproduce the problem:

1. Clone the sample repo <https://github.com/SAP/openui5-sample-app>
2. Run `yo easy-ui5 project newview` in there.

## What is the expected result?
That it prompts the right questions

## What happens instead?
Starts with the question "To which module do you want to add a view?"

## Any other information? (attach screenshot if possible)
Or

[2021-11-15 19:59] octavonu commented on #17
HI,
I am encountering the same issue.

Thank you

yo easy-ui5 project newview
![image](https://user-images.githubusercontent.com/50553626/141845885-0249d025-2e9a-4255-adeb-b2fc7501e410.png)

[2021-11-18 13:26] #17 closed

[2021-11-18 19:49] octavonu commented on #17
Hello @IObert ,

Thank you very much for your update.

Now it is working as desired.
One small glitch, the generator doesn't recognise itself...or?

The project was generated with Easy-UI5 for ts. What have I done wrong, I  cannot understand.

VG

![image](https://user-images.githubusercontent.com/50553626/142486186-4069c6a9-7c4b-4757-a7f2-d3e4c4d0901b.png)

[2021-11-18 21:18] wridgeu commented on #17
Seems like this has something to do with the difference of content within the `.yo-rc.json` file. Which differentiates between the (technically) two used generators.

Typescript generator (https://github.com/ui5-community/generator-ui5-ts-app)
[code]

"Normal" generator (https://github.com/ui5-community/generator-ui5-project)
[code]

The normal generator is looking for a few attributes (e.g. `view

[2021-11-19 10:06] IObert commented on #17
I would say this behavior is intended (at least for now). If we'd support this, there had to be some TS logic in `ui5-project` as well to make sure to generate TS code when used in the other context. And this would basically merge both plugins in one - which would violate the original design choice that @petermuessig  and I made.

But that doesn't mean this decision is set in stone.

[2021-11-23 10:03] IObert opened #19 "Easy-UI5 doesn't generated an FlpSandbox since using new @sap/ux-ui5-tooling"
## Easy-Ui5 version:

Most recent aka 3.0.3

## Steps to reproduce the problem:

Described here: <https://answers.sap.com/questions/13530042/tutrial-creating-fiori-lauinchpad-app-error.html?childToView=13531170>

## What is the expected result?

The project should include a flpSandbox that displays the web app.

## What happens instead?

The flpSandbox is not in the `webapp` folder but in `webapp/

[2021-11-23 10:04] IObert commented on #19
@vobu Do you think this is something we can fix in this project, or is this something that needs to be fixed in @sap/ux-ui5-tooling ?

[2021-11-24 14:00] vobu commented on #19
hm, let me take a look. will report back.

[2021-12-05 09:42] lboehm opened #20 "easy-ui5 is not using the BaseController"
Hi,

easy-ui5 is generating a `MainView.controller.js` and a `BaseController.js`. But the `BaseController.js` is not used by the `MainView.controller.js`, so I have to change `MainView.controller.js` manually to make use of the `BaseController.js`.

## Easy-Ui5 version:

[code]

## OS/version:

Windows 10

## Steps to reproduce the problem:

Generate a project like this:

[code]

## What is the ex

[2021-12-05 10:05] lboehm commented on #20
Hi @IObert,

i have found another problem that is related to this: When generating a new view, the new generated view is using the BaseController as expected.
But the BaseController, that is generated when the whole project is generated, has a reference to `webapp/model/formatter` which doesn't exist:

[code]

When trying to display the newly generated view the browser console shows this error:

[

[2021-12-05 10:25] lboehm opened #21 "Do the views generated by easy-ui5 align with best practices?"
Hi @IObert,

I've found something and I'm not sure if it's an error:

# What happens

when using easy-ui5 to generate a new project it generates the following view:

[code]

When adding another view it generates basically the same again (except the shell):

[code]

As a result my UI5 app has `n` `<App>`-tags when it has `n` views. I'm not sure, but this doesn't seem right.

# What I would expect

[2021-12-05 11:36] lboehm commented on #20
It's me again - sorry for spamming 😃

I did some research, because I wanted to provide a pull request. I think the issue is, that `generator-ui5-project` uses `@sap-ux/fiori-freestyle-writer` and this package doesn't know anything of the `BaseController.js`.
And the open source community can't help to fix this issue, as `@sap-ux packages are closed source, right?

Does anybody have an idea how to

[2021-12-05 11:40] lboehm commented on #21
It seems like we have here the same problem as in #20. As `generator-ui5-project` is using `@sap-ux/fiori-freestyle-writer` this can't be fixed in this project.

Any ideas how to solve that?

Best regards,
Lukas

[2021-12-06 08:36] IObert commented on #20
Yep, I immediately expected that this came with the `@sap-ux/fiori-freestyle-writer` when you mentioned this. I'll include @vobu here as there is already another issue with this package integration.
WDYT?

[2021-12-06 08:38] vobu commented on #20
yep, on my list.

[2021-12-06 08:43] IObert commented on #21
You are technically right here. It doesn't make much sense to have multiple `sap.m.App` controls in the same application. Initially, the idea here was that the generator cannot know which control is desired for a new view anyway, so I just went down the easy route and re-use the template I already had from the "default view".
You could make a point that the subgenerator should just use another vie

[2021-12-07 09:53] vobu opened #23 "chore(deps): handle changes dep install and logging for yeoman^5"
Once this generator switches to yeoman^5, the introduced changes in that major version need to be reflected here (as described in https://github.com/SAP/generator-easy-ui5/pull/82):
- manage dependency installs
- handle changed logging

[2021-12-07 11:56] #19 closed

[2021-12-07 11:56] #20 closed

[2021-12-07 11:59] IObert commented on #23
On it :)

[2021-12-07 17:20] lboehm commented on #21
Hi @IObert,

from a user perspective I would like the generator to behave like this:

- When running the subgenerator for a new view, I would expect exact the same question as I get right now (like view name, create corresponding controller, etc.)
- After the subgenerator is finished I would expect that the newly created view is generated correctly, so that there's only one `<App>` tag. As a user

[2021-12-08 07:13] lboehm opened #25 "Providing some documentation on how to contribute"
Hi @IObert,

I think it would help if there were any documentation for people who want to contribute to this generator. I was quite struggling to get started, especially debugging wasn't easy. I didn't get it running at the weekend, because I found out that the problem can't be solved in this repo, so I didn't dig deeper on how to debug. Probably it's not complicated if you know what to do. But it

[2021-12-08 08:37] IObert commented on #25
I understand the problem and I like the idea. Let me see if I find some time next week or so :)

[2021-12-08 10:11] IObert commented on #21
It sounds to me that you basically rename `MainView` to `App` and just remove the Shell control and the `<pages>` aggregation.

Let's include @petermuessig here: Do you think this is feasible for this generator here?

[2021-12-08 14:28] lboehm commented on #21
Hi @IObert,

no I wouldn't rename `MainView` to `App`. I would add `App` and change `MainView`, so it works together with `App`. If you like I could provide in the next few days a small git repo with a sample project. Describing this possible solution in just one issue is not that easy, as a few files are affected.

BR,
Lukas

[2021-12-08 14:46] IObert commented on #21
Yes, that would be helpful to understand. Thanks

[2021-12-08 16:00] IObert commented on #23
So, I did some deeper testing and there are a few blocker that come from updating the dependencies of this project. So this is a larger task for now. Here are the repos that need to be updated first, before the dep install issue itself can be resolved:

- [ ] chalk              ^4.1.2  →  ^5.0.0     (Must use import to load ES Module)
- [ ] valid-filename     ^3.1.0  →  ^4.0.0    (Must use import

[2021-12-08 17:36] lboehm commented on #21
Hi @IObert,

I've created a sample repo with different branches. For each scenario I've created an PR inside my sample repo, so you can check what I've changed.

- The [`master` branch](https://github.com/lboehm/easy-ui5-view-demo) is just an app that was generated with easy-ui5.

- The [`new-structure-initial` branch](https://github.com/lboehm/easy-ui5-view-demo/tree/new-structure-initial) is my

[2021-12-09 09:19] IObert commented on #21
First of all, thanks for doing the work to create this comparison. I get the suggested change now :).

I can also see that this makes things a little bit easier to develop larger apps that require multiple pages etc. But it also makes simple hello world apps a bit more complicated as there are more files to handle and understand.

As this is not an urgent topic, I don't want to make the final call

[2021-12-09 09:46] jbm1991 commented on #21
Thanks for doing that work @lboehm!

As a regular user of easy-ui5 I definitely support your suggestion.

I do take your point though @IObert that hello-world apps become slightly more complicated, but I think that is okay because it is a concept that anyone learning UI5 needs to understand early on. I also wonder how many people who are so new to UI5 that they are making hello-world applications,

[2021-12-09 10:54] lboehm commented on #21
Hi @IObert,

I get your point as well, that hello-world apps become slightly more complicated. But especially as a beginner it helps if a correct structure is given.
If I would start with UI5 and I knew about easy-ui5, I would use easy-ui5 to generate the structure. If easy-ui5 would generate a structure that isn't aligned with best practices, I think this would confuse me as a beginner.

I like t

[2021-12-09 11:02] IObert commented on #21
9 upvotes already "indicate" a clear preference, that's great!
I'd wait until tomorrow to "close" this vote but I think we can assume that the vote will be in favor of this proposal 😅

[2021-12-10 06:42] marianfoo commented on #21
Funnily enough, this discussion was my problem this week when I started with a new app and wanted to add new pages and I didn't know what is current "best practice" right now.
My way so far has always been to explore and learn a framework on a basic Hello World application.
I agree with @lboehm that this clearly shows me how to proceed with further pages as a beginner and advanced user.

[2021-12-10 08:08] vobu commented on #21
when implementing/changing the view template, please also look at the [`basic` template of `@sap-ux/fiori-freestlye-writer`](https://github.com/SAP/open-ux-tools/tree/main/packages/fiori-freestyle-writer/templates/basic/custom)
→ it would make sense to have a single point of maintenance for best practice Views and Controllers

[2021-12-10 09:16] IObert commented on #21
@tobiasqueck Do you think that would be easy thing to change in the Fiori Tools?

[2021-12-10 10:01] tobiasqueck commented on #21
@IObert yes, this shouldn't be a problem. I had a look at our freestyle templates (https://github.com/SAP/open-ux-tools/tree/main/packages/fiori-freestyle-writer/templates) and for `worklist` and `listdetail` we already use the `app-view` -> `page-view` concept, therefore, also using it for the `basic` app makes a lot of sense purely from a consistency perspective even if it makes the `basic` app

[2021-12-11 08:24] lboehm opened #26 "Proposal: Add prettier config"
Hi @IObert,

I've got another proposal, how easy-ui5 could be improved. I would suggest to add prettier to the generated projects. [Prettier](https://prettier.io/) provides two helpful features:

- Prettier checks if the code is formatted according to the given rules. This is helpful when a developer wants to check if the whole UI5 project is well formatted. And it's helpful when you want to valid

[2021-12-11 09:36] vobu commented on #26
+1 in general for the versatile tool prettier. and that's why this repo already uses it :) check out the dev dependencies and the .prettierrc

[2021-12-11 09:46] lboehm commented on #26
Hi @vobu,

sorry, maybe I wasn't clear enough :) I've meant that easy-ui5 should generate apps that use `prettier` and not that easy-ui5 itself should use `prettier`.
If I'm not mistaken, an app that is generated with easy-ui5 doesn't provide `prettier` support:

- There is no `.prettierrc` in the [app template](https://github.com/ui5-community/generator-ui5-project/tree/main/generators/app/templa

[2021-12-11 10:17] vobu commented on #26
ah, right on. now it's clear. a ui5 prettier extension was on my list for the longest time (both for opinionated xml-view- and js/ts-controller-formatting) - probably something up your bucket?!?

[2021-12-13 08:34] IObert commented on #26
Sounds like a great idea :)
Please go ahead and open a PR.

[2021-12-13 10:26] petermuessig commented on #21
Sorry for being late to the party again. 😢

IMO, changing the generator to create additional views without an `<App>` just with a `<Page>` makes fully sense. The main view should always have the `<App>`. As @lboehm mentioned, this is the way it is documented in the Demo Kit to create views with a page only.

From my side also: 👍

[2021-12-13 11:29] tobiasqueck commented on #21
Created https://github.com/SAP/open-ux-tools/issues/214. @lboehm if you like, you can pick it up, otherwise, someone from the tools team will pick it up as soon as time permits.

[2021-12-14 09:27] #25 closed

[2021-12-14 09:28] IObert commented on #25
I added a small section here <https://github.com/ui5-community/generator-ui5-project#debugging-the-generator>
Let me know if you like it / it makes sense :)

[2021-12-17 08:11] HelloJack0 opened #27 "Cannot find module 'object-assign-deep'"
## Easy-Ui5 version:

Node.js: v14.15.3
yeoman-environment: 3.8.1
generator-ui5-project: 0.1.1
## OS/version:
Windows 10 (64bit)
## Browser/version (+device/version):
Chrome 87.0.4280.88
## Steps to reproduce the problem:

1. Step 1     npm install -g yo generator-easy-ui5
2. Step 2    yo easy-ui5
3. Step 3    Select your generator? generator-ui5-project

## What is the expected result?
The projec

[2021-12-17 10:02] nicogeburek commented on #27
Hi there,
which subgenerator did you run (`app`?) and can you maybe send a screen shot of your selections in the steps of the subgenerator? Could you also provide the full error logs? I think that would be helpful, too.
Cheers

[2021-12-18 08:41] lboehm commented on #25
It makes perfect sense. Thanks a lot!

[2021-12-19 10:05] lboehm commented on #26
Hi @IObert & @vobu,

I've created a PR, which works fine for XML and JS. There are a few things to consider:

- I didn't consider TypeScript, because I don't have a lot TypeScript experience. Propably some using TS more often knows better how to improve the dev experience for TS developers.
  - In my opinion I think we could merge this PR without considering TypeScript, because it improves the dev

[2021-12-19 12:52] lboehm commented on #21
Hi @IObert & @tobiasqueck,

I wanted to solve this issue and I digged into it. These are the things I've found:

- [Peter mentioned above](https://github.com/ui5-community/generator-ui5-project/issues/21#issuecomment-992319030), that the best practice is that the `MainView` has the `<App>` . That's exactly what [open-ux-tools](https://github.com/SAP/open-ux-tools/) is generating. So if I understoo

[2021-12-19 15:35] lboehm commented on #13
Hi @IObert,

I've created a possible solution for this issue. You can view the changes [here](https://github.com/lboehm/generator-ui5-project/commit/237c984aba37046ba13e063b14bfc61a7ac3c9b2#diff-fb3c51194730e282793310751066bf26defbbee94fc60924bbde9d954f646e6f).
I didn't create a PR, because it's not finished yet. I wanted to discuss my approach first, before finishing it.

### What I did

You can

[2021-12-20 07:43] tobiasqueck commented on #21
@lboehm I think the `open-ux-tools` doing it correctly for most of the freestyle templates, however, the basic template only generates one view with shell and pages included: https://github.com/SAP/open-ux-tools/blob/main/packages/fiori-freestyle-writer/templates/basic/custom/View.xml.
My understanding from this discussion was that it should be split into two: an app view and a page view. We are d

[2021-12-20 07:52] lboehm commented on #21
@tobiasqueck Yes, that was my understanding as well. But Peter wrote:

I interpret the last sentence as follows: the `MainView` that is generated by `open-ux-tools` should hold the `<App>` and its own `<Page>` as well. So no need for an extra `App.view.xml`.

Or am I interpreting this information wrong?

[2021-12-20 08:00] tobiasqueck commented on #21
Now I am also not sure anymore. @petermuessig we need you ...

[2021-12-20 09:13] IObert commented on #21
I'd rather tend to the second option, as this will make life easier once `open-ux-tools` support templates for other view types as well.
But I should share here that this is only my personal opinion and I won't merge any PRs as  I'm no longer working for SAP.

[2021-12-20 09:16] IObert commented on #26
Yes, the warnings about the JS doc are a biit ugly but I couldn't suppress them (and they are just warnings).
So it's ok to have them around after the PR as well.

What supprises me here is that the command in the screenshot above fails. That shouldn't happen.

[2021-12-20 09:22] IObert commented on #13
Thanks for your PR!
I'd suggest a minor change to adress the improvement 1) you mentioned. You could kill two birds with one stone if you change the `when` condition (e.g. `when: !options.newdir` ) to run the validation of the option and only return `true` if the validation passes.

Also, I have one more question about the original issue. @simenlf Did you want to call `generator-ui5-project` with

[2021-12-20 10:10] petermuessig commented on #21
Hi @lboehm , @tobiasqueck , @IObert ,

I need to be careful what I put on the digital paper 😁 . With `Main.view.xml`, I really meant the `App.view.xml`. IMO, it is good to split the `<App>` and the `<Page>`s into separate views. Otherwise it also gets a bit confusing with the routing. So, I would recommend to initially create an `App.view.xml` hosting the `<App>` and an additional `Main.view.xml`

[2021-12-20 10:45] vobu commented on #26
first of all thanks for your efforts so far @lboehm!

to keep the `prettier`-scope limited, you could simply ignore `.ts` e.g. in https://github.com/ui5-community/generator-ui5-project/pull/28/files#diff-50a198bb4c5d390a3c61597268f214c1902a8167a29fdd7cd3bf92470bf6c0f5R2

I'd suggest to add `eslint-config-prettier` and  `eslint-plugin-prettier` as [a dev dependeny](https://github.com/ui5-community/

[2021-12-20 10:52] vobu commented on #21
but I will and am open to any kind of 🍺 -bribery, muahaha

(i see myself out, please continue the proper technical discussion)

[2021-12-20 16:47] lboehm commented on #21
@tobiasqueck Okay, perfect. I think we have clarity now. The `open-ux-tools` have to be adapted. Maybe I will find some time over the holidays.

@IObert Sad, to hear you're leaving SAP. But good luck on your way 🙂 Hope you will be part of the UI5 universe nevertheless!

But who's in charge of merging now?

[2021-12-20 17:04] lboehm commented on #26
Hi @vobu,

here's my response:

# Ignoring TypeScript files

I do ignore `.ts` files, by just checking XML and JS files: [Link](https://github.com/ui5-community/generator-ui5-project/blob/39e2d9b92234067d628a2f8aa48fb0e34b491aa2/generators/app/index.js#L161)
That sould do the job, right?

# Prettier eslint plugin

Yes, I do that myself as well. But when creating this PR I did some research and fou

[2021-12-20 19:14] petermuessig commented on #21
👀  - maybe me? Please be patient with me and in case of not responding in time just use the @petermuessig to make me aware of it...

@IObert : honestly, you can still stay by my side here... 😄

[2021-12-21 10:20] IObert commented on #21
I think @nicogeburek will also be able to hit "merge" if he likes the proposal.

[2021-12-21 10:28] IObert commented on #26
Which files cannot be fixed by prettier?

I understand  the js-doc error for eslint. I already tried to fix it by ignoring the first line but somehow yeoman always removes this [comment](https://github.com/ui5-community/generator-ui5-project/blob/main/generators/newwebapp/templates/uimodule/webapp/model/models.js#L2) when coping from the template. I'm not sure what the problem is.

But this is jus

[2021-12-21 10:51] lboehm commented on #26
No the files can be fixed and they will be fixed when `lint-fix` is executed. In that case Prettier will exit with status code `0`, so no errors will be displayed in the terminal.
But when `lint` is executed, Prettier won't fix those issues, as it just checks. And if it finds any errors it will exit with status code `1`, which leeds to errors in the terminal.

[2021-12-21 11:02] lboehm commented on #21
@petermuessig & @nicogeburek

Okay, now that we have discussed the technical stuff, I think we can go back to the discussion if this PR can be merged.

[As I wrote above](https://github.com/ui5-community/generator-ui5-project/issues/21#issuecomment-997386992):

And I think I can add another bullet point to that list:

- As Peter clarified we need the `App.view.xml`. This will be fixed at `open-ux-

[2021-12-21 12:18] nicogeburek commented on #21
Hi all,

thanks @lboehm for your effort. What you say makes sense and your PR looks good to me. Will merge it 👍🏻
I'm looking forward to the changes in the `open-ux-tools` so that we have the app-view & page-view structure.

BR, Nico

[2021-12-21 12:22] IObert commented on #26
I see. I guess that's ok then.

[2021-12-28 13:06] lboehm commented on #26
@vobu I know it's the christmas holidays, so no hurry 🙂 I just wanted to ask what you're thinking about [my comment](https://github.com/ui5-community/generator-ui5-project/issues/26#issuecomment-998110170) and if we can merge the current branch?

Best regards and of course a happy new year
Lukas

[2022-01-03 09:20] vobu commented on #26
Prosit Neujahr likewise! Will merge your PR as a good start into 2022 :)

[2022-01-03 09:28] vobu commented on #26
erm, a little early with the celebrations ... @lboehm could you please take a loot at the CI errors for your PR #28?
https://github.com/ui5-community/generator-ui5-project/runs/4689473965?check_suite_focus=true
https://github.com/ui5-community/generator-ui5-project/runs/4689474021?check_suite_focus=true
Shouldn't be a biggie, I hope...

[2022-01-03 15:51] #3 closed

[2022-01-07 09:25] lboehm commented on #26
Hi @vobu

okay, this one is a little bit more complicated than it should be. So this post will be a little bit longer. I hope it's understandable.

# My proposal how to fix this issue

We have two options for fixing this issue:

1. We could make sure that the generators always generate perfectly formatted code.
2. We could run the npm task `lint-fix` after the app is generated and all the formatti

[2022-01-07 09:55] #21 closed

[2022-01-07 16:49] lboehm commented on #26
@vobu Sorry, I had some time and didn't wait for an answer 😃 I've provided a commit that:

1. runs `lint-fix` after the project is generated
2. adds the models.js to the `.prettierignore` file

This way - in theory - it should generate projects where the `test` tasks doesn't fail. Somehow the unit tests still fail. I will dig deeper when I find time. I think I've got quite busy times ahead. But I

[2022-01-09 13:02] lboehm commented on #26
@vobu Okay, I've identified the root cause. Problem is that Yeoman doesn't execute `npm install` when executed in a unit test (see [this link](https://stackoverflow.com/a/30610070)). And if `npm install` was skipped, we can't call the `lint-fix` command because it's missing the relevant npm packages.

To fix it I did the following things:

1. I only execute `lint-fix` in the `end()` function when

[2022-01-12 10:25] bd82 commented on #26
Hello.

Have you considered using npm-patch-package to implement a "hot-fix" for the `@sap/eslint-plugin-ui5-jsdocs` npm package?
- https://github.com/ds300/patch-package

I have used it in the past to avoid having to wait on upstream changes or to allow consumers to immediately "obtain" a fix
without waiting for an official release.

[2022-01-12 10:56] bd82 commented on #26
@lboehm @vobu

As a different workaround is it possible to temporarily disable the `@sap/eslint-plugin-ui5-jsdocs` rule in the generated projects?

[2022-01-12 11:18] lboehm commented on #26
@bd82 I didn't know about the hot fix possibility. I will have a look into it, when I find time. Thanks for the information!

Disabling the rule completely would be an option. It's as dirty as my proposal to add the `models.js` to the ignore-file 😃 I think I would prefer adding the `models.js` to the ignore-file, because it only has a negative impact on the `models.js` file. Disabling the rule at

[2022-01-12 11:27] bd82 commented on #26
Hi @lboehm

I am wondering:
Do these generated yeoman templates also use the UI5 TypeScript definitions to enable auto-complete **in JS code**?
- https://github.com/SAP/ui5-typescript/tree/main/demos/demo-js

The reason I'm asking is because that is the main reason this UI5-JSDocs eslint plugin exists, to add the needed type information to the UI5 import syntax (define) so it could be "linked" wit

[2022-01-12 11:33] bd82 commented on #26
I see it is supported under a conditional branch:
- https://github.com/ui5-community/generator-ui5-project/blob/1aa57d279b6a863ba5225b846e0d065296f62548/generators/app/index.js#L118-L135

[2022-01-14 07:49] vobu commented on #26
yes, they do - it's already in the live project: https://github.com/ui5-community/generator-ui5-project/blob/f81175fa067e38c4373fe26d8be0a12216407fdd/generators/app/index.js#L118

[2022-01-14 07:55] vobu commented on #26
not that i got fed wisdom with a spoon 🤣 , but here's my 2 cents:
reason I didn't mention any patch-up option like `patch-package` is that I had high hopes to get the SAP colleagues maintaining the eslint-plugin to Open Source it so it becomes a community asset
While I still nourish that hope, it won't happen soon as you @bd82 explained.
So the best short-term mitigation plan would be two-fold:
-

[2022-01-14 07:59] #26 closed

[2022-01-14 12:36] hosssa commented on #27
I get the same error since the last update of easy-ui5. Same environment, except
Node.js: v12.19.0

Is there any solution or workaround yet?

[2022-01-15 08:23] lboehm commented on #26
@vobu Perfect, thanks a lot for your support!

[2022-01-16 13:57] lboehm opened #30 "Proposal to add a more sophisticated eslint ruleset"
Hi all,

I have two improvements regarding the eslint ruleset, currently generated by this generator:

1. I would propose to change the rule config from integers to string. Currently it says:
[code]
    Based on the [eslint documentation](https://eslint.org/docs/user-guide/configuring/rules#configuring-rules), the `1` can be replaced with `warn`, which is easier to understand.

2. And more importa

[2022-01-17 08:10] vobu commented on #26
sure thing, OS #UI5 community FTW!
now that [the JSDoc is fixed in Open UX Tools](https://github.com/SAP/open-ux-tools/blob/b027ac6d4abd7a5cd297155ed43e285c7dc9ce5d/packages/fiori-freestyle-writer/templates/common/add/webapp/model/models.js#L5), would you send in another PR for taking out `models.js` from the ignore file?

[2022-01-17 09:36] nicogeburek commented on #30
Hi @lboehm,
Thanks for the PR. I am all for the suggested rule changes. Let's hear what the other think about it 🤗

[2022-01-17 15:57] lboehm commented on #26
Hi @vobu, yes I will provide a PR in the next days :)

[2022-01-19 09:15] nicogeburek commented on #27
Hm unfortunately I can't reproduce the error. I'm glad the quick fix worked for you. Actually, that is exactly what the `generator-easy-ui5` does after downloading the plugin-generators (e.g. `generator-ui5-project`). I will look into this further and hopefully come back with a solution.

[2022-01-22 09:52] lboehm commented on #30
@IObert @vobu @petermuessig Do you guys have any thoughts about a stricter ESLint ruleset in general and the PR in particular?

[2022-01-24 08:18] vobu commented on #30
i'm biased on this: personally, i like to SM me by tightening code-time rulesets (and git commit message, btw) 🤕 😆 .
but i also learned that not all developers are equally pain-resistent.
based on this i'd suggest:
- full +1 for refactoring `int`-style rulesets to their plain counterparts, e.g. `blocked-scope-var: 1` → `blocked-scope-var: "warn"`
- +1 for dropping IE11 artifacts. it's 2022 now any

[2022-02-11 10:06] nicogeburek opened #33 "eslint always looks for "xml", even if oConfig.viewtype=="JSON""
## Easy-Ui5 version:

Node.js: v16.9.1
yeoman-environment: 3.9.1
generator-easy-ui5: 3.2.1
home: /Users/i533499/Documents/coding/generator-easy-ui5
pluginsHome: /Users/i533499/Documents/coding/generator-easy-ui5/plugin-generators
Available generators:
  - generator-ui5-project: 0.1.1

## Steps to reproduce the problem:

1. Run `yo easy-ui5 project`
1. Create a new `app`
1. Select `JSON` as view ty

[2022-02-11 10:38] vobu commented on #33
just .02€: is it really worth any effort to support `json` view types? they should go away asap anyway 😸

[2022-02-11 10:40] nicogeburek commented on #33
Good point, I won't be the one making the call here but I don't disagree 😉

[2022-02-11 15:11] wridgeu commented on #33
I agree. With all the best practices / guidance out there what one _should_ use or what would be best. And the generator trying to be part of this guiding force i.e. https://github.com/ui5-community/generator-ui5-project/issues/21.  I don't think supporting every possible use-case, especially going against these "best practices", is a good thing. Could also be 'annoying' in regards to maintainabil

[2022-02-22 08:03] petermuessig commented on #33
The default should be the `XMLView`s IMO.

But the error of lint can also be supressed by adding a command line option:
https://eslint.org/docs/user-guide/command-line-interface#--no-error-on-unmatched-pattern

`--no-error-on-unmatched-pattern`

This is what I would suggest to fix immediately to add this parameter to the eslint execution and as a second step, the default should become `XMLView`s

[2022-02-22 09:16] #33 closed

[2022-02-24 14:40] nicogeburek opened #35 "Component is not loaded with newest version of @sap-ux/ui5-application-writer"
Node.js: v16.9.1
yeoman-environment: 3.9.1
generator-easy-ui5: 3.2.2
The dependency "@sap-ux/fiori-freestyle-writer" uses "@sap-ux/ui5-application-writer": "0.11.2"

A recent [commit](https://github.com/SAP/open-ux-tools/commit/0e72d5b2e4a34ba6f03305852d1f23a69e27711e) in the [open-ux-tools](https://github.com/SAP/open-ux-tools) changed the template for the [index.html](https://github.com/SAP/open

[2022-02-27 12:57] lboehm commented on #30
Hi @vobu

sorry for the late response, I had a busy time. Thanks a lot for your answer, this really helps.

Here's my response to your comment:
__________________________________________________________________________________________

Done.

I think this is more than just a style thingie, as [variables can't be shadowed](https://www.designcise.com/web/tutorial/what-is-variable-shadowing-in-javasc

[2022-03-03 14:03] archetypon opened #36 "Generated FlpSandbox shows an empty page"
## Easy-Ui5 version:
3.3.0

## OS/version:
Windows 10 (Node.js version 14.19.0 and 16.14.0)

## Browser/version (+device/version):
Mozilla Firefox 97.0.1 (also MS Edge)

## Steps to reproduce the problem:
Follow [this](https://developers.sap.com/tutorials/sapui5-fiori-cf-create-project.html) tutorial

1. Step 1
run `yo easy-ui5 project`
2. Step 2
Select _SAP Launchpad service_ as hosting platform

[2022-03-03 14:15] IObert commented on #36
@nicogeburek I think this should be assigned to you. I also changed the default assignee parameter

[2022-03-03 14:25] #35 closed

[2022-03-03 14:26] nicogeburek commented on #36
Hi @archetypon, can you pleae try uninstalling and then reinstalling easy-ui5 globally. This could be related to #35, which should be fixed. Reinstalling should do the trick.

[2022-03-03 15:21] archetypon commented on #36
Hi @nicogeburek, I just tried and the problem persist (with node version 16.14.0).
Command executed:

`npm uninstall -g generator-easy-ui5`
`npm install -g generator-easy-ui5`

Here you can find the trace of yoaman command:

[code]

Here the trace for the npm start:

[code]

[2022-03-03 19:31] nicogeburek commented on #36
Hi @archetypon,
I don't really know what went wrong, but this is currently missing in the generated `uimodule/webapp/test/flpSandbox.html` file:

[code]

Adding this to the end of the `<head />` should fix it for now, but I will have to dig a little deeper to find the root cause. Thanks for bringing it up!

[2022-03-03 21:00] #36 closed

[2022-03-12 08:34] lboehm opened #39 "Allow usage of Promises when using code assist"
Hi!

When generating a project with code assist, the following error is shown, when you're using promises:

*any 'Promise' only refers to a type, but is being used as a value here. Do you need to change your target library? Try changing the 'lib' compiler option to es2015 or later.ts(2585)*

![image](https://user-images.githubusercontent.com/6696988/158009963-7ba66219-72c8-44af-83fb-506005fbe44d.p

[2022-03-26 09:29] petermuessig commented on #30
I commented the PR with some thoughts and I feel the influence of @vobu => `semi`! Basically, with the UI5 tooling we can allow to write the JS applications in modern JS and due to the skipped support for IE11 we can also use most of the modern JS language features and APIs. So in general, for this purpose it is good to update also the lint rules. One thing which may be problematic is the usage of

[2022-03-27 08:58] petermuessig commented on #39
Fixed with #40

[2022-03-27 08:58] #39 closed

[2022-03-27 08:59] petermuessig commented on #27
@nicogeburek: I think this happens when the `npm install` fails in the generator in the post-install phase of the easy-ui5 generator. Maybe we need to add some check here...

[2022-03-27 09:09] lboehm commented on #30
@petermuessig Thanks a lot for reviewing 🙂 I will check the Object spread syntax and we'll wait for @matz3 regarding ecma script version. Then I will update the PR.

[2022-03-27 09:13] petermuessig commented on #30
No problem. Unfortunately, I missed to join the discussion here - sorry, I am always late to the parties. But I will try to chat with @matz3 tomorrow also tackling the object spread topic. Thanks for your work here! 👍

[2022-03-28 15:21] lboehm commented on #30
Hi @petermuessig, did you get some information regarding the object spread topic? 🙂

[2022-03-28 15:40] petermuessig commented on #30
Yes, see my comment in the PR. @matz3 also replied there. We are good to go with ES2020 which is supported by the UI5 tooling >=2.9.x but ES2021 require UI5 Tooling >=3.0.0-alpha.

[2022-04-03 08:43] lboehm commented on #21
@petermuessig @vobu @nicogeburek @tobiasqueck

Hi guys,

I hope it's okay, that I write you here.

[The PR for fixing this issue](https://github.com/SAP/open-ux-tools/pull/386) in the `open-ux-tools` is open for quite some time now. I provided a solution, but I'm not able to fix the tests, given the time I have.

Is there any chance to give this PR a higher priority, so it will be finished by some

[2022-04-06 10:38] tobiasqueck commented on #21
@lboehm it has been merged. Thanks for your contribution!

[2022-05-18 14:37] wridgeu opened #44 "QoL change: projectname ↔ `name` attribute in package.json"
Hey everyone,

I've come to notice that we're using the projectname from the prompt as name within the package.json. This doesn't fit a 100% though.

![image](https://user-images.githubusercontent.com/14982812/169066914-0ba20254-2d65-481d-ad22-255f6fc99a91.png)

I'm not sure if there are any restrictions on the UI5 projectname (i.e. `myUI5App`, used as default), at least I haven't come across any

[2022-05-20 10:02] tobiasqueck opened #45 "Tests `JS-Application Router @ Cloud Foundry` fails"
## Easy-Ui5 version:
I am not running a released `easy-ui5` version but run the tests in the repo.

## OS/version:
MacOs/12.3.1

## Browser/version (+device/version):
n/a

## Other versions
yarn: 1.22.17
node: 14.18.1

## Steps to reproduce the problem:

1. Clone the repository
2. `yarn`
3. `yarn test test/basic.js --grep 'JS-Application Router @ Cloud Foundry'`

## What is the expected result?
A

[2022-05-20 12:23] tobiasqueck commented on #45
When someone looks at this, please also consider converting
[code]
into something like
[code]
so that the tests are isolated.

[2022-06-06 15:52] wridgeu opened #47 "Duplicate entries in `.eslintrc` for project scaffolding"
Hey there, 👋

I've noticed that the `.eslintrc` file will always have duplicate entries (see img below) when agreeing on adding the "code assist libraries" during the project scaffolding (cmd: `yo easy-ui5 project`).

![image](https://user-images.githubusercontent.com/14982812/172191558-3b3c7b56-7c1d-4292-ae30-5a27efba9b27.png)

This is because these options are being set here:

https://github.com

[2022-06-07 08:34] vobu commented on #47
yeah, clean up here definitely makes sense - in favor of the explicit `_.eslintrc`, since its easier to maintain declarations in a file rather than in src code. Mind giving it a shot aka PR 😺?

[2022-06-07 14:30] wridgeu commented on #47
@vobu great, thanks for the feedback :) created one with these small adjustments, didn't request a reviewer yet. If you wouldn't mind you can go ahead ^^

[2022-06-07 19:02] #47 closed

[2022-07-19 17:27] archetypon opened #49 "Deployed app is not visible in the html5-apps-repo"
## Easy-Ui5 version:
3.4.0

## OS/version:
Windows 10

## Browser/version (+device/version):
Not relevant

## Steps to reproduce the problem:

1. Generate a new project (using platform _SAP HTML5 Application Repository service for SAP BTP_ )
2. run command _npm run deploy_

## What is the expected result?
The app should be visible in the BTP cockpit under HTML5 Applications

## What happens instea

[2022-07-20 09:29] nicogeburek commented on #49
Hi @archetypon,

Good catch!

I believe we are actually missing two things:

1. The additional configuration in the `manifest.json`:
[code]
2. The configuration of the destination content as a new module in the `mta.yaml`:
[code]

Adding both of those snippets fixes the issue and the application will be listed in the SAP BTP Cockpit under HTML5 Applications.

I will try to find out what options we

[2022-07-20 12:00] nicogeburek commented on #49
Update:

I am currently working on a PR. Turns out that the configuration in the `manifest.json` (first point in the comment above) is only relevant when using the SAP Fiori Launchpad...

[2022-07-26 07:40] #49 closed

[2022-08-22 05:51] petermuessig commented on #27
With the forceUpdate function this could be fixed:

[code]

[2022-08-22 10:24] MichaelFlucher opened #55 "App.controller.js has wrong namespace"
## Easy-Ui5 version:
3.5.0

Node.js: v16.13.0
yeoman-environment: 3.10.0
generator-easy-ui5: 3.5.0
Available generators:
  - ui5-project: 0.2.0

## OS/version:
Windows 10 Enterprise 21H2 19044.1826

## Browser/version (+device/version):

## Steps to reproduce the problem:

`yo easy-ui5 project app`
[code]
- after npm install finished, open `uimodule\webapp\controller\App.controller.js`
- in line 9

[2022-08-22 10:58] wridgeu commented on #55
Hey there,

nice find. :)

Looks like it'll have to be changed in https://github.com/SAP/open-ux-tools/blob/cada427943dccee6382e1ce0e7ec8ba210996493/packages/fiori-freestyle-writer/templates/basic/add/webapp/controller/App.controller.js

@tobiasqueck Is there a certain way to go about handling these cross repository things like a "requirement" let's say, to have this issue opened over at the `open

[2022-08-22 17:19] Klaus-Keller opened #56 "Feature request: Add package.json for each application in the project"
## Easy-Ui5 version:

[code]

When I generate a project using `generator-ui5-project`, I get a file and folder structure like following

[code]

The actual UI5 application resides in `uimodule`, where the `ui5.yaml` config and `webapp` directory is. This project structure suggests, that there might be other apps in the same project. However, with multiple apps in the same project, the root `packag

[2022-08-22 19:12] tobiasqueck commented on #56
From my perspective, it would help to better separate the apps from each other, so I am all in. If anything is required in the open-ux-tools, just let me know.

[2022-08-23 07:43] nicogeburek commented on #56
I generally like the idea. I do think we would need to touch code in quite a few different places, but I guess it's feasible. I know that @petermuessig also has an opinion on this as we talked about the whole `uimodule`-structure a while ago.

[2022-08-23 15:42] #55 closed

[2022-08-24 10:13] petermuessig commented on #56
IMO, a mono-repo setup requires a `package.json` for each module. We should in general rework the structure. In case of including ui projects and backend project the dependencies are rather different and must not be mixed. Ideally the project also uses a mono repo tool such as `yarn` or better `pnpm`. We should follow-up on this after the summer holiday break. In general, we should think about str

[2022-08-25 23:03] Klaus-Keller commented on #56
With PR https://github.com/ui5-community/generator-ui5-project/pull/42 @tobiasqueck introduce support for SAP Fiori elements Flexible Programming Model (FPM) pages and also added question:

[code]

Could we work on a PR to apply the new monorepo structure in case this questions is answered with `Yes`, only. Like a frontrunner implementation, because we need this for SAP Fiori tools. If the new str

[2022-08-26 05:32] tobiasqueck commented on #56
I like the strategy, however, it might be technically a bit more complicated to do it this way because you need two implementations for multiple sub-generators (I assume).

[2022-08-30 02:39] Klaus-Keller commented on #56
I' ve prepared a sample mono repo that has two Fiori apps. One FPM enabled app, similar to the one generated in this script: https://github.com/tobiasqueck/ui5con2022, generated with yo ([generator-ui5-project](https://github.com/ui5-community/generator-ui5-project)) and one Fiori elements List Report Object Page v4 app, generated with [`@sap/generator-fiori`](https://www.npmjs.com/package/@sap/ge

[2022-08-30 13:00] tobiasqueck commented on #56
Do we want to limit it to `pnpm` or should the generator offer to generate for `yarn`, `pnpm` or `npm@7+`?
Where would you put the btp deployment script e.g. `mta.yaml` etc.; would this be another (private) module in `packages`?

[2022-08-30 15:56] Klaus-Keller commented on #56
Hi @tobiasqueck,

I'd start with `pnpm` and if there is a community demand for other package managers, it should be a rather simple contribution to add support for other package managers.

Good question and this is exactly the kind of discussion I like to have. I guess this depends on your scenario, if you have modules that are all deployed together it might be on root level, if you selectively de

[2022-10-19 04:06] js1972 opened #61 "Error in directory paths when generating a new app inside an existing project"
## Easy-Ui5 version:

Node.js: v16.14.0
yeoman-environment: 3.12.1
generator-easy-ui5: 3.5.1
home: /Users/I540401/.nvm/versions/node/v16.14.0/lib/node_modules/generator-easy-ui5
pluginsHome: /Users/I540401/.nvm/versions/node/v16.14.0/lib/node_modules/generator-easy-ui5/plugin-generators

Available generators:
  - ui5-project: 0.2.1
  -
## OS/version:
Macos 12.6

## Browser/version (+device/version

[2022-10-19 06:35] js1972 commented on #61
Closing - apologies. I deleted the app and re-generated and the issue went away!

[2022-10-19 06:35] #61 closed